.sp-page-builder .page-content #section-id-1528096819 {
  margin: 0 0;
}

.sp-page-builder .page-content #section-id-1528096822 {
  padding: 60px 0;
}

#sppb-addon-1528096825 .sppb-empty-space {
  padding-bottom: 60px;
}

#sppb-addon-1528096826 .sppb-divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

#sppb-addon-1528096826 .sppb-divider {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}

.sp-page-builder .page-content #section-id-1528096827 {
  padding: 0 0 70px 0;
}

.sp-page-builder .page-content #section-id-1528096827 .sppb-section-title .sppb-title-heading {
  margin-bottom: -50px;
}

.sp-page-builder .page-content #section-id-1528096833 {
  margin: 0 0;
  padding: 50px 0 0 0;
}

.sp-page-builder .page-content #section-id-1528096833 .sppb-section-title .sppb-title-heading {}

.sp-page-builder .page-content #section-id-1528096833 .sppb-section-title .sppb-title-subheading {
  font-size: 14px;
}

.sp-page-builder .page-content #section-id-1528096836 {
  margin: 0 0;
  padding: 80px 0;
  background-color: #f5f5f5;
}

#sppb-addon-1528096838 .sppb-addon-title {
  color: #2a2b2f;
  font-size: 18px;
  line-height: 18px;
}

.sp-page-builder .page-content #section-id-1528096839 {
  padding: 60px 0;
}

.sp-page-builder .page-content #section-id-1528096839 .sppb-section-title .sppb-title-heading {}

.sp-page-builder .page-content #section-id-1528096842 {
  padding: 60px 0;
  background-color: #f5f5f5;
}

.sp-page-builder .page-content #section-id-1528096847 {
  padding: 60px 0;
}

.sp-page-builder .page-content #section-id-1528096847 .sppb-section-title .sppb-title-heading {}

body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

h4 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

h5 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

h6 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.sp-megamenu-parent {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

#sp-bottom {
    padding: 80px 0;
}

#sp-footer {
  background-color: #f5f5f5;
  color: #555555;
  padding: 80px 0;
}
